[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pytest-django = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
python-decouple = "*"

[requires]
python_version = "3.10"
